body {
  padding: 0;
  margin: 0;
}
html, body{
  height: 100%;
  width: 100%;
}
h1, h2, h3, h4, h5, p, a, ul, li {
  font-family: Tahoma, Geneva, sans-serif;
}
h1,h2{
  color:#144822;
}
#header {
  height:10%;
  bottom:90%;
  background-color: #004B26;
}
#map {
  height: 90%;
  width: 67%;
  left: 33%;
  top: 10%;
  position: absolute;
}
#sidebar {
  height: 90%;
  width: 33%;
  top:10%;
  right:67%;
  position: absolute;
  background-color: #156434;
  radius: 0px;
}
.title{
  font-size: 60px;
  font-weight:bold;
  padding:;
  left: 190px;
  top:-50px;
  position: absolute;
  color: cornsilk;
}
.sidebar-heading {
  padding: 0 40px;
  font-size: 30px;
  color: white;
}
.info-border{
  width:90%;
  height: 95%;
  left:5%;
  top:2.5%;
  position:absolute;
  background-color: #9DD189;
  border-radius: 10px
}
.info-bin {
  width:90%;
  height: 83.7%;
  left:2.5%;
  top:8%;
  position:absolute;
  background-color: white;
  border-radius: 10px;
  padding:2.5%;
  overflow: auto;
  background-color: cornsilk;
}
ul {
 list-style-type: none;
 padding: 1px;
 overflow: hidden;
 font-size: 100%;
 font-weight: bold;
 font-family:;
 color: white;
 width: 100%;
 overflow: ;
}
#list{
}
li {
 float: left;
 margin-right: 5px;
 background-color: #144822;
 color:white;
 font-family: ;
 width: 30.9%;
 border-radius: 10px;
}
/* Add a border to all( but not the last) list items */
li:last-child {
 border-right: none;
 margin-right: 0px;
}
li a {
 display: block;
 color: white;
 text-align:;
 padding: 8px 10px;
 text-decoration: none;
 font-family: ;
 text-align: center;
}
/* Links will change color when hovered over */
li a:hover {
 background-color: #3E7517;
 border-radius: 10px
}
.active {
 background-color: #3E7517;
 color: white;
 border-radius: 10px;
}
.tabs {
  margin: 0;
  position: absolute;
  -ms-transform: translate(-0%, -0%);
  transform: translate(-0%, -0%);
  width: 100%;
  left: 2.5%;
  top: 0%;
}
a {
  color: #3E7517;
}
