body {
  padding: 0;
  margin: 0;
}
html, body{
  height: 100%;
  width: 100%;
}
#header {
  height:10%;
  bottom:90%;
  background-color: #004B26;
}
#map {
  height: 90%;
  width: 67%;
  left: 33%;
  top: 10%;
  position: absolute;
}
#sidebar {
  height: 90%;
  width: 33%;
  top:10%;
  right:67%;
  position: absolute;
  background-color: #156434;
  radius: 0px;
}
.title{
  font-size: 40px;
  padding: 0px 0px 0px 30px;
  top:0%;
  position: absolute;
  color: white;
}
.sidebar-heading {
  padding: 0 40px;
  font-size: 30px;
  color: white;
}
.info-border{
  width:90%;
  height: 85%;
  left:5%;
  position:absolute;
  background-color: #9DD189;
  border-radius: 10px
}
.info-bin {
  width:95%;
  height: 88.7%;
  left:2.5%;
  top:7%;
  position:absolute;
  background-color: white;
  border-radius: 10px;
  padding:;
  overflow: auto;
}
ul {
 list-style-type: none;
 padding: 1px;
 overflow: hidden;
 font-size: 100%;
 font-weight: bold;
 font-family: Arial, Helvetica, sans-serif
 color: white;
 width: 100%;
}

li {
 float: left;
 margin-right: 5px;
 background-color: #144822;
 color:white;
 font-family: Arial, Helvetica, sans-serif;
 width: 30.9%;
 border-radius: 10px;
}

/* Add a border to all( but not the last) list items */
li:last-child {
 border-right: none;
 margin-right: 0px;
}
li a {
 display: block;
 color: white;
 text-align:;
 padding: 8px 10px;
 text-decoration: none;
 font-family: Arial, Helvetica, sans-serif;
 text-align: center;
}

/* Links will change color when hovered over */
li a:hover {
 background-color: #3E7517;
 border-radius: 10px
}
.active {
 background-color: #3E7517;
 color: white;
 border-radius: 10px;

}
.tabs {
  margin: 0;
  position: absolute;
  -ms-transform: translate(-0%, -0%);
  transform: translate(-0%, -0%);
  width: 100%;
  left: 2.5%;
  top: 0%;
}
